{{ define "nuc12wshi5-1" }}
machine:
  type: controlplane
  network:
    hostname: nuc12wshi5-1
    interfaces:
      - interface: eth0
        addresses: 
          - 192.168.253.1/21
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.248.1
        vip:
          ip: 192.168.253.10
    nameservers:
      - 192.168.248.1
  udev:
    # check /usr/etc/udev/rules.d/99-talos.rules
    rules:
      - SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="48:21:0b:5f:fd:8c", NAME="eth0"
  install:
    disk: /dev/sda
{{ end }}