{{ define "nuc11tnhi50l-1" }}
machine:
  type: worker
  network:
    hostname: nuc11tnhi50l-1
    interfaces:
      # external network
      - interface: eth0
        addresses: 
          - 192.168.253.11/21
        routes:
          - network: 0.0.0.0/0
            gateway: 192.168.248.1
      # internal ceph communication
      - interface: eth1
        addresses:
          - 192.168.253.101/21
        routes:
          - network: 192.168.253.101/32
          - network: 192.168.253.102/32
          - network: 192.168.253.103/32
    nameservers:
      - 192.168.248.1
  udev:
    # check /usr/etc/udev/rules.d/99-talos.rules
    rules:
      - SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="48:21:0b:33:54:cb", NAME="eth0"
      - SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="48:21:0b:2c:f4:8c", NAME="eth1"
  install:
    disk: /dev/sda
    # renovate: depName=ghcr.io/siderolabs/installer
    image: factory.talos.dev/installer/dc8730aa8cc7bfa5ef7e2b3284248f2631135b2faf4ae11aa997a0c1987b0eee:v1.9.0
  kubelet:
    image: ghcr.io/siderolabs/kubelet:v1.32.0
{{ end }}
