{{ define "nuc11tnhi50l-3" }}
machine:
  type: worker
  network:
    hostname: amethyst-nuc11tnhi50l-3
  udev:
    # check /usr/etc/udev/rules.d/99-talos.rules
    rules:
      - SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="48:21:0b:2d:15:87", NAME="eth0"
      - SUBSYSTEM=="net", ACTION=="add", ATTR{address}=="54:b2:03:fd:73:0a", NAME="eth1"
  install:
    disk: /dev/sda
    # renovate: depName=ghcr.io/siderolabs/installer
    image: factory.talos.dev/installer/ed036d0640097a4e7af413ee089851a12963cd2e2e1715f8866d551d17c2ec62:v1.9.0
  kubelet:
    image: ghcr.io/siderolabs/kubelet:v1.32.0
{{ end }}