---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"
silent: true

tasks:
  secret-sync:
    cmd: |
      kubectl annotate -n vaultwarden externalsecret vaultwarden-secret vaultwarden-backup-secret \
      force-sync=$(date +%s) --overwrite

  backup:
    cmd: argo submit -n vaultwarden --from workflowtemplate/vaultwarden-backup --watch

  restore:
    prompt: "Restore will delete the current vaultwarden data... continune?"
    cmds:
      - task: stop
      - task: delete-volume
      - task: create-volume
      - cmd: |
          argo submit -n vaultwarden --from workflowtemplate/vaultwarden-restore --watch
      - task: start

  delete-volume:
    internal: true
    ignore_error: true
    cmd: |
      echo "Deleting vaultwarden volume claim..."
      kubectl delete -f app/pvc.yaml

  create-volume:
    internal: true
    cmd: |
      echo "Creating vaultwarden volume claim..."
      kubectl create -f app/pvc.yaml

  stop:
    cmd: |
      echo "Stopping vaultwarden..."
      kubectl scale --replicas 0 -n vaultwarden deployment/vaultwarden

  start:
    cmd: |
      echo "Starting vaultwarden..."
      kubectl scale --replicas 1 -n vaultwarden deployment/vaultwarden

  list-backup:
    env:
      BACKUP_SECRET:
        sh: |
          aws ssm get-parameter --name /kubernetes/vaultwarden/backup \
          --query "Parameter.Value" --with-decryption
      OPENDAL_ENDPOINT: "https://s3.us-east-005.backblazeb2.com"
      OPENDAL_BUCKET:
        sh: echo $BACKUP_SECRET | jq -r 'fromjson | .OPENDAL_BUCKET'
      OPENDAL_ACCESS_KEY_ID:
        sh: echo $BACKUP_SECRET | jq -r 'fromjson | .OPENDAL_ACCESS_KEY_ID'
      OPENDAL_SECRET_ACCESS_KEY:
        sh: echo $BACKUP_SECRET | jq -r 'fromjson | .OPENDAL_SECRET_ACCESS_KEY'
      RUSTIC_PASSWORD:
        sh: echo $BACKUP_SECRET | jq -r 'fromjson | .RUSTIC_PASSWORD'
    cmds:
      - |
          echo "Listing backups..."
          rustic snapshots -r "opendal:s3" --log-level=error
