---
# yaml-language-server: $schema=https://taskfile.dev/schema.json
version: "3"
silent: true

tasks:
  secret-sync:
    cmd: |
      kubectl annotate -n unifi-controller externalsecret unifi-controller-backup-secret unifi-controller-backup-secret \
      force-sync=$(date +%s) --overwrite

  backup:
    cmd: argo submit -n unifi-controller --from workflowtemplate/unifi-controller-backup-manual --watch

  restore:
    prompt: "Restore will delete the current unifi-controller data... continune?"
    cmds:
      - task: stop
      - task: delete-volume
      - task: create-volume
      - cmd: |
          argo submit -n unifi-controller --from workflowtemplate/unifi-controller-restore-manual --watch
      - task: start

  delete-volume:
    internal: true
    ignore_error: true
    cmd: |
      echo "Deleting unifi-controller volume claim..."
      kubectl delete -f app/pvc.yaml

  create-volume:
    internal: true
    cmd: |
      echo "Creating unifi-controller volume claim..."
      kubectl create -f app/pvc.yaml

  stop:
    cmd: |
      echo "Stopping unifi-controller..."
      kubectl scale --replicas 0 -n unifi-controller deployment/unifi-controller

  start:
    cmd: |
      echo "Starting unifi-controller..."
      kubectl scale --replicas 1 -n unifi-controller deployment/unifi-controller

  list-backup:
    env:
      BACKUP_SECRET:
        sh: |
          aws ssm get-parameter --name /kubernetes/unifi-controller/backup \
          --query "Parameter.Value" --with-decryption
      OPENDAL_ENDPOINT: "https://s3.us-east-005.backblazeb2.com"
      OPENDAL_BUCKET:
        sh: echo $BACKUP_SECRET | jq -r 'fromjson | .OPENDAL_BUCKET'
      OPENDAL_ACCESS_KEY_ID:
        sh: echo $BACKUP_SECRET | jq -r 'fromjson | .AWS_ACCESS_KEY_ID'
      OPENDAL_SECRET_ACCESS_KEY:
        sh: echo $BACKUP_SECRET | jq -r 'fromjson | .AWS_SECRET_ACCESS_KEY'
      RUSTIC_PASSWORD:
        sh: echo $BACKUP_SECRET | jq -r 'fromjson | .RESTIC_PASSWORD'
    cmds:
      - |
          echo "Listing backups..."
          rustic snapshots -r "opendal:s3" --log-level=error
