---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/configmap-v1.json
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: rustic-exporter
  name: rustic-exporter-config
data:
  config.toml: | #toml
    # vaultwarden
    [[backup]]
    name = "vaultwarden"
    repository = "opendal:s3"
    password = "${vaultwarden_backup_password}"

    [backup.options]
    endpoint = "https://s3.us-east-005.backblazeb2.com"
    bucket = "homelab-amethyst-vaultwarden"
    root = "/"
    region = "auto"
    access_key_id = "${b2_general_access_key_id}"
    secret_access_key = "${b2_general_secret_access_key}"

    # nextcloud
    [[backup]]
    name = "nextcloud-install"
    repository = "opendal:s3"
    password = "${nextcloud_backup_password}"

    [backup.options]
    endpoint = "https://s3.us-east-005.backblazeb2.com"
    bucket = "homelab-amethyst-nextcloud"
    root = "/install"
    region = "auto"
    access_key_id = "${b2_general_access_key_id}"
    secret_access_key = "${b2_general_secret_access_key}"

    [[backup]]
    name = "nextcloud-data"
    repository = "opendal:s3"
    password = "${nextcloud_backup_password}"

    [backup.options]
    endpoint = "https://s3.us-east-005.backblazeb2.com"
    bucket = "homelab-amethyst-nextcloud"
    root = "/data"
    region = "auto"
    access_key_id = "${b2_general_access_key_id}"
    secret_access_key = "${b2_general_secret_access_key}"

    # immich
    [[backup]]
    name = "immich"
    repository = "opendal:s3"
    password = "${immich_backup_password}"

    [backup.options]
    endpoint = "https://s3.us-east-005.backblazeb2.com"
    bucket = "timtor-homelab-immich"
    root = "/app"
    region = "auto"
    access_key_id = "${b2_general_access_key_id}"
    secret_access_key = "${b2_general_secret_access_key}"

    # navidrome
    [[backup]]
    name = "navidrome"
    repository = "opendal:s3"
    password = "${navidrome_backup_password}"

    [backup.options]
    endpoint = "https://s3.us-east-005.backblazeb2.com"
    bucket = "homelab-amethyst-navidrome"
    root = "/data"
    region = "auto"
    access_key_id = "${b2_general_access_key_id}"
    secret_access_key = "${b2_general_secret_access_key}"

    # unifi-controller
    [[backup]]
    name = "unifi-controller"
    repository = "opendal:s3"
    password = "${unifi_controller_backup_password}"

    [backup.options]
    endpoint = "https://s3.us-east-005.backblazeb2.com"
    bucket = "home-amethyst-unifi-controller"
    root = "/"
    region = "auto"
    access_key_id = "${b2_general_access_key_id}"
    secret_access_key = "${b2_general_secret_access_key}"

    # etcd
    [[backup]]
    name = "etcd"
    repository = "opendal:s3"
    password = "${etcd_backup_password}"

    [backup.options]
    endpoint = "https://s3.us-east-005.backblazeb2.com"
    bucket = "timtor-homelab-etcd-backup"
    root = "/"
    region = "auto"
    access_key_id = "${b2_general_access_key_id}"
    secret_access_key = "${b2_general_secret_access_key}"
