# required parameters
# k3s_server_nodes
# k3s_agent_nodes 

[k3s_cluster:children]
k3s_server
k3s_agent

[k3s_server]
%{ for name, node in k3s_server_nodes ~}
${name} ansible_host=${node.ssh_forward_ip} ansible_user=${node.user} ansible_become_password=${node.password}
%{ endfor ~}

[k3s_agent]
%{ for name, node in k3s_agent_nodes ~}
${name} ansible_host=${node.ssh_forward_ip} ansible_user=${node.user} ansible_become_password=${node.password}
%{ endfor ~}