---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  namespace: mydata
  name: immich-valkey
spec:
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: bjw-s
      chart: app-template
      version: 3.7.3
  interval: 1h
  maxHistory: 1
  timeout: 1m0s
  values:
    controllers:
      main:
        type: statefulset
        replicas: 1
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &s immich-valkey-secret
        pod:
          automountServiceAccountToken: false
          securityContext:
            fsGroup: 65534
        statefulset:
          volumeClaimTemplates:
            - name: data
              storageClass: rbd-fast
              accessMode: ReadWriteOnce
              size: 1Gi
              globalMounts:
                - path: /data
        containers:
          main:
            image:
              repository: valkey/valkey
              tag: 8.1.0-alpine
            args:
              - /config/valkey.conf
            resources:
              requests:
                cpu: 100m
            probes:
              startup:
                enabled: true
              readiness:
                enabled: true
              liveness:
                enabled: true
            securityContext:
              runAsNonRoot: true
              runAsUser: 65534
              runAsGroup: 65534
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities:
                drop: ["ALL"]
              seccompProfile:
                type: RuntimeDefault

    serviceAccount:
      create: true
      annotations:
        eks.amazonaws.com/role-arn: arn:aws:iam::262264826613:role/amethyst-immich-valkey
        eks.amazonaws.com/audience: sts.amazonaws.com

    configMaps:
      config:
        enabled: true
        data:
          valkey.conf: |
            bind * -::*
            aclfile /secret/users.acl
            # ACL example:
            # user default off
            # user {username} {permissions} {access-patterns} {on or off} >{plaintext-password}

    persistence:
      config:
        type: configMap
        name: immich-valkey-config
        globalMounts:
          - path: /config
            readOnly: true
      secret:
        type: custom
        volumeSpec:
          csi:
            driver: secrets-store.csi.k8s.io
            readOnly: true
            volumeAttributes:
              secretProviderClass: *s
        globalMounts:
          - path: /secret
            readOnly: true

    service:
      main:
        controller: main
        primary: true
        ports:
          redis:
            primary: true
            port: 6379
            protocol: TCP
