---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationSource
metadata:
  namespace: unifi-controller
  name: unifi-controller-backup-schedule
spec:
  sourcePVC: unifi-controller-data
  trigger:
    schedule: "0 0/12 * * *"
  restic:
    pruneIntervalDays: 14
    repository: unifi-controller-backup-secret
    retain:
      daily: 5
      weekly: 4
      monthly: 3
    copyMethod: Snapshot
    volumeSnapshotClassName: rook-ceph-rbd
    storageClassName: rbd-fast-ec
    accessModes: ["ReadWriteOnce"]
    cacheStorageClassName: rbd-fast-ec
    cacheAccessModes: ["ReadWriteOnce"]
    cacheCapacity: 1Gi
    moverSecurityContext:
      runAsNonRoot: true
      runAsUser: 999
      runAsGroup: 999
      fsGroup: 999
      seccompProfile:
        type: RuntimeDefault
