---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/serviceaccount-v1.json
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: vaultwarden
  name: vaultwarden-backup
  annotations:
    eks.amazonaws.com/audience: sts.amazonaws.com
    eks.amazonaws.com/role-arn: arn:aws:iam::262264826613:role/vaultwarden-backup
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/role-rbac-v1.json
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: vaultwarden
  name: vaultwarden-backup
rules:
  - apiGroups:
      - argoproj.io
    resources:
      - workflowtaskresults
    verbs:
      - create
      - patch
  - apiGroups: ["volsync.backube"]
    resources:
      - replicationsources
      - replicationdestinations
    verbs:
      - "create"
      - "get"
      - "watch"
      - "delete"
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/rolebinding-rbac-v1.json
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  namespace: vaultwarden
  name: vaultwarden-backup-binding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: vaultwarden-backup
subjects:
  - kind: ServiceAccount
    name: vaultwarden-backup
