adminUser: {{ .Values.GRAFANA_ADMIN_USERNAME }}
adminPassword: {{ .Values.GRAFANA_ADMIN_PASSWORD }}
ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress.public }}
  hosts:
  - {{ .Values.grafana.hostname }}
persistence:
  enabled: true
  # Normally, it is ought called storageClass
  storageClassName: {{ .Values.nfsclient.storageClassName }}
  size: {{ .Values.grafana.storage }}

resources:
{{ toYaml .Values.grafana.resources | indent 2 }}