---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/source.toolkit.fluxcd.io/gitrepository_v1.json
## My homelab repo hosted on Github
apiVersion: source.toolkit.fluxcd.io/v1
kind: GitRepository
metadata:
  namespace: flux-system
  name: homelab
spec:
  interval: 1m
  url: https://github.com/timtorChen/homelab
  ref:
    branch: main
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## --- 0 - Base Namespace ---
## flux-system
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 0-flux-system
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/flux-system
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## --- 1 - Infra Namespaces ---
## kube-system
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-kube-system
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/kube-system
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## kyverno
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-kyverno
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/kyverno
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## cert-manager
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-cert-manager
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/cert-manager
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## intel-device-system
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-intel-device-system
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/intel-device-system
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## aws-identity-webhook
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-aws-identity-webhook
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/aws-identity-webhook
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## external-secrets
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-external-secrets
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/external-secrets
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## cloudflared
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-cloudflared
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/cloudflared
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## reloader
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-reloader
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/reloader
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## argo-system
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-argo-system
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/argo-system
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## etcd-backup
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-etcd-backup
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/etcd-backup
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## talos-upgrade
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 1-talos-upgrade
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/talos-upgrade
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## --- 2 - Storage Namespaces ---
## rook-ceph
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 2-rook-ceph
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/rook-ceph
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## snapscheduler
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 2-snapscheduler
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/snapscheduler
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## volsync
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 2-volsync
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/volsync
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## --- 3 - Ingress Namespaces ---
## ingress-nginx
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 3-ingress-nginx
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/ingress-nginx
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## --- 4 - Database Namespaces ---
## cnpg
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 4-cnpg
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/cnpg
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## --- 5 - Monitor Namespaces ---
## grafana
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-grafana
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/grafana
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## mimir
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-mimir
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/mimir
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## prometheus
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-prometheus
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/prometheus
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## loki
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-loki
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/loki
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## vector
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-vector
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/vector
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## promtail
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-promtail
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/promtail
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## node-exporter
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-node-exporter
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/node-exporter
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## smart-exporter
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-smart-exporter
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/smart-exporter
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## snmp-exporter-mikrotik
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-snmp-exporter-mikrotik
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/snmp-exporter-mikrotik
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## unifi-controller
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-unifi-controller
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/unifi-controller
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## unpoller
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-unpoller
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/unpoller
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## rustic-exporter
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-rustic-exporter
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/rustic-exporter
  prune: true
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## kromgo
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 5-kromgo
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/kromgo
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## --- 6 - Application Namespaces ---
## vaultwarden
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 6-vaultwarden
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/vaultwarden
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## navidrome
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 6-navidrome
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/mydata/navidrome
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## immich
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 6-immich
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/mydata/immich
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## nextcloud
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 6-nextcloud
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/mydata/nextcloud
  prune: false
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/kustomize.toolkit.fluxcd.io/kustomization_v1.json
## miniflux
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  namespace: flux-system
  name: 6-miniflux
spec:
  sourceRef:
    kind: GitRepository
    name: homelab
  interval: 10m0s
  path: /kubernetes/miniflux
  prune: false
