---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  namespace: kromgo
  name: kromgo
spec:
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: bjw-s
      chart: app-template
      version: 4.6.2
  interval: 1h
  maxHistory: 1
  timeout: 1m0s
  values:
    defaultPodOptions:
      automountServiceAccountToken: false
    controllers:
      main:
        type: deployment
        replicas: 2
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 1
        annotations:
          configmap.reloader.stakater.com/reload: &c kromgo-config
        containers:
          main:
            image:
              repository: ghcr.io/kashalls/kromgo
              tag: v0.7.4
            env:
              PROMETHEUS_URL: http://mimir-query-frontend.mimir:8080/prometheus
              SERVER_PORT: &p 8080
            securityContext:
              runAsNonRoot: true
              runAsUser: 65534
              runAsGroup: 65534
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
              seccompProfile:
                type: RuntimeDefault
    persistence:
      kromgo-config:
        name: *c
        type: configMap
        advancedMounts:
          main:
            main:
              - path: /kromgo/config.yaml
                subPath: config.yaml
                readOnly: true
    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            primary: true
            port: *p
            protocol: HTTP

    route:
      main:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - namespace: kube-system
            name: cilium-default
            sectionName: https
        hostnames:
          - kromgo.timtor.dev
        rules:
          - backendRefs:
              - kind: Service
                name: kromgo
                port: *p
            matches:
              - path:
                  type: PathPrefix
                  value: /
      http-redirect:
        enabled: true
        kind: HTTPRoute
        parentRefs:
          - namespace: kube-system
            name: cilium-default
            sectionName: http
        hostnames:
          - kromgo.timtor.dev
        rules:
          - matches:
              - path:
                  type: PathPrefix
                  value: /
            filters:
              - type: RequestRedirect
                requestRedirect:
                  scheme: https
                  statusCode: 301
