ingress:
  enabled: true
  annotations: 
    kubernetes.io/ingress.class: {{ .Values.ingress.personalService }}
  hosts:
  - {{ .Values.jellyfin.hostname }}
persistence:
  config:
    enabled: true
    storageClass: {{ .Values.nfsclient.storageClassName }}
  media:
    enabled: false
  extraExistingClaimMounts:
{{toYaml .Values.jellyfin.existingClaimMounts | indent 4}}

resources:
{{ toYaml .Values.jellyfin.resources | indent 2 }}