---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  namespace: external-secrets
  name: external-secrets
spec:
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: external-secrets
      chart: external-secrets
      version: 0.20.1
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  interval: 1h
  maxHistory: 1
  timeout: 1m0s
  values:
    installCRDs: true
    crds:
      createClusterExternalSecret: false
      createClusterSecretStore: false
      createClusterGenerator: false
      createClusterPushSecret: false
      createPushSecret: true

    # -- controller
    replicaCount: 1
    processClusterExternalSecret: false
    processClusterStore: false
    processClusterPushSecret: false
    processClusterGenerator: false
    processPushSecret: true
    securityContext: &securityContext
      runAsNonRoot: true
      runAsUser: 1000
      runAsGroup: 1000
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: true
      capabilities:
        drop: ["ALL"]
      seccompProfile:
        type: RuntimeDefault
    resources: &resources
      limits:
        memory: 128Mi
      requests:
        cpu: 10m
        memory: 64Mi

    # -- certController
    certController:
      create: true
      replicaCount: 1
      resources: *resources
      securityContext: *securityContext

    # -- webhook
    webhook:
      create: true
      replicaCount: 1
      resources: *resources
      securityContext: *securityContext
