---
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  namespace: cnpg
  name: cnpg
spec:
  url: https://cloudnative-pg.github.io/charts
  interval: 24h
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  namespace: cnpg
  name: cnpg
spec:
  interval: 1h
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        namespace: cnpg
        name: cnpg
      chart: cloudnative-pg
      version: 0.22.1
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  values:
    crds:
      create: true
