image:
  repository: timtor/blog
  pullPolicy: Always
  tag: "dev"

ingress:
  enabled: true
  annotations:
{{ toYaml .Values.ingress.publicAnnotations | indent 4}}
  hosts:
    - host: {{ .Values.blog.hostnameDraft }}
      paths: [ "/" ]

serviceAccount:
  create: false

resources:
{{ toYaml .Values.blog.resources | indent 2 }}
