---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/refs/heads/master/master/serviceaccount-v1.json
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: miniflux
  name: miniflux
  annotations:
    eks.amazonaws.com/role-arn: arn:aws:iam::262264826613:role/miniflux
    eks.amazonaws.com/audience: sts.amazonaws.com
