---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  namespace: rook-ceph
  name: rook-ceph
spec:
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: rook-ceph
      chart: rook-ceph
      version: v1.17.9
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  interval: 1h
  maxHistory: 1
  values:
    crds:
      enabled: true
    currentNamespaceOnly: true
    csi:
      pluginTolerations:
        - key: node-role.kubernetes.io/control-plane
          operator: Exists
          effect: NoSchedule
    resources:
      limits:
        memory: 256Mi
      requests:
        cpu: 100m
        memory: 256Mi
    monitoring:
      enabled: true
