{{ define "worker" }}
{{ $secret := merge 
  ( ds "aws-homelab" "/amethyst/talos-machine" | data.JSON ) 
  ( ds "aws-homelab" "/amethyst/talos-cluster" | data.JSON )
}}
version: v1alpha1
debug: false
persist: true
machine:
  # -- Setup
  type: worker
  token: {{ $secret.machine_token }}
  ca:
    crt: {{ $secret.machine_ca_crt }}
    key: ""
  certSANs: []
  install:
    # renovate: datasource=docker depName=ghcr.io/siderolabs/installer
    image: factory.talos.dev/installer/dc8730aa8cc7bfa5ef7e2b3284248f2631135b2faf4ae11aa997a0c1987b0eee:v1.13.2
    wipe: false
    extraKernelArgs:
      - talos.logging.kernel=tcp://192.168.253.100:3001
      # disable predictable interface naming
      - net.ifnames=0
  network: {}
  logging:
    destinations:
      - endpoint: tcp://192.168.253.100:3002
        format: json_lines
  # -- Services
  kubelet:
    # renovate: datasource=docker depName=ghcr.io/siderolabs/kubelet
    image: ghcr.io/siderolabs/kubelet:v1.36.2
    defaultRuntimeSeccompProfileEnabled: true
    disableManifestsDirectory: true
  # -- Talos features
  features:
    rbac: true
    stableHostname: true
    apidCheckExtKeyUsage: true
    kubePrism:
      enabled: true
      port: 7445
cluster:
  # -- Setup
  controlPlane:
    endpoint: https://192.168.253.10:6443
  network:
    cni:
      name: none
    dnsDomain: cluster.local
    podSubnets:
      - 10.244.0.0/16
    serviceSubnets:
      - 10.96.0.0/12
  id: {{ $secret.cluster_id }}
  secret: {{ $secret.cluster_secret }}
  token: {{ $secret.cluster_token }}
  ca:
    crt: {{ $secret.cluster_ca_crt }}
    key: ""
  # -- Service
  proxy:
    disabled: true
  # -- Extras
  discovery:
    enabled: false
{{ end }}
