image:
  repository: raspbernetes/kured
  tag: 1.6.1

configuration:
  timeZone: Asia/Taipei
  startTime: 13:00
  endTime: 17:00
  period: 1h0m0s # default check period
  rebootDays: [mo]

service:
  create: true
  port: 8080
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "8080"

tolerations:
{{ toYaml .Values.taint.mayPoweroff | indent 2}}