---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  namespace: cloudflared
  name: cloudflared
spec:
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: bjw-s
      chart: app-template
      version: 3.7.3
  interval: 1h
  maxHistory: 1
  timeout: 1m0s
  values:
    controllers:
      main:
        type: deployment
        replicas: 2
        strategy: RollingUpdate
        rollingUpdate:
          unavailable: 1
        annotations:
          secret.reloader.stakater.com/reload: &s cloudflared-secret
          configmap.reloader.stakater.com/reload: &c cloudflared-config
        pod:
          automountServiceAccountToken: false
          securityContext:
            fsGroup: 65532
        containers:
          main:
            image:
              repository: cloudflare/cloudflared
              tag: 2025.11.1
            args:
              - tunnel
              - --no-autoupdate
              - --config
              - /config/tunnel.yaml
              - run
            probes:
              startup:
                enabled: false
              readiness:
                enabled: false
              liveness:
                enabled: true
                custom: true
                spec:
                  initialDelaySeconds: 0
                  periodSeconds: 10
                  timeoutSeconds: 1
                  failureThreshold: 3
                  httpGet:
                    path: /ready
                    port: 2000
            securityContext:
              runAsNonRoot: true
              runAsUser: 65532
              runAsGroup: 65532
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities:
                drop: ["ALL"]
              seccompProfile:
                type: RuntimeDefault

    serviceAccount:
      name: cloudflared

    persistence:
      config:
        type: configMap
        name: *c
        globalMounts:
          - path: /config
            readOnly: true

    service:
      main:
        controller: main
        primary: true
        ports:
          http:
            primary: true
            port: 2000
            protocol: TCP

    serviceMonitor:
      main:
        serviceName: cloudflared
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            metricRelabelings:
              - action: drop
                sourceLabels: [__name__]
                regex: ^(go|process).*
