controller:
  extraArgs:
    default-ssl-certificate: {{ .Values.certificate.wildcardCert.fullname }}
  #* ISSUE: if loadBalancerIP is set, publishService should be `true`
  #*        two config seems binding together and can be simplified.
  publishService:
    enabled: true
  service:
    loadBalancerIP: {{ .Values.publicIP }}
    annotations:
      metallb.universe.tf/allow-shared-ip: {{ .Values.publicIP }}
  autoscaling:
    enabled: false

defaultBackend:
  enabled: false