ingress:
  enabled: true
  annotations:
{{ toYaml .Values.ingress.publicAnnotations | indent 4}}
  hosts:
    - host: {{ .Values.blog.hostname }}
      paths: [ "/" ]

serviceAccount:
  create: false

resources:
{{ toYaml .Values.blog.resources | indent 2 }}
