ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress.public }}
  hosts:
    - host: {{ .Values.blog.hostname }}
      paths: [ "/" ]

serviceAccount:
  create: false

resources:
{{ toYaml .Values.blog.resources | indent 2 }}
