image:
  repository: timtor/openvpn-jf
  tag: 0.0.1
service:
  type: LoadBalancer
  loadBalancerIP: {{ .Values.publicIP }}
  annotations:
    metallb.universe.tf/allow-shared-ip: {{ .Values.publicIP }}
  externalPort: 1194
persistence:
  enabled: true
  storageClass: {{ .Values.nfsclient.storageClassName }}
  size: {{ .Values.openvpn.storage }}
resources:
{{ toYaml .Values.openvpn.resources | indent 2 }}
