---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  namespace: argo-system
  name: argo-workflows
spec:
  chart:
    spec:
      sourceRef:
        kind: HelmRepository
        name: argo
      chart: argo-workflows
      version: 0.47.0
  install:
    crds: CreateReplace
  upgrade:
    crds: CreateReplace
  interval: 1h
  maxHistory: 1
  timeout: 1m0s
  values:
    images:
      tag: v3.6.5
    crds:
      install: true
      keep: true
    createAggregateRoles: false
    server:
      serviceAccount:
        name: argo-workflows-server
      deploymentAnnotations:
        secret.reloader.stakater.com/reload: &secret argo-workflows-server-secret
      authModes: ["sso"]
      sso:
        enabled: true
        issuer: https://oauth.id.jumpcloud.com/
        clientId:
          name: *secret
          key: CLIENT_ID
        clientSecret:
          name: *secret
          key: CLIENT_SECRET
        redirectUrl: https://workflows.timtor.dev/oauth2/callback
        scopes: ["group"]
        sessionExpiry: 168h # 7 days
      securityContext: &sc
        runAsNonRoot: true
        allowPrivilegeEscalation: false
        readOnlyRootFilesystem: true
        capabilities:
          drop: ["ALL"]
        seccompProfile:
          type: RuntimeDefault
    controller:
      serviceAccount:
        name: argo-workflows-controller
      securityContext: *sc
      singleNamespace: false # enable all namespaces
      workflowNamespaces: [] # disable unused roles
      workflowDefaults:
        spec:
          podSpecPatch: | #yaml
            initContainers:
              - name: init
                securityContext: &sc
                  runAsNonRoot: true
                  runAsUser: 8737
                  runAsGroup: 8737
                  allowPrivilegeEscalation: false
                  readOnlyRootFilesystem: true
                  capabilities:
                    drop: ["ALL"]
                  seccompProfile:
                    type: RuntimeDefault
            containers:
              - name: wait
                securityContext: *sc
      metricsConfig:
        enabled: true
        path: /metrics
        interval: 1m
        secure: false
        scheme: http # serviceMonitor shchema
        metricRelabelings: # serviceMonitor metricRelabelings
          - action: drop
            sourceLabels: [__name__]
            regex: ^(go|process).*
      serviceMonitor:
        enabled: true
