---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/external-secrets.io/secretstore_v1.json
apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  namespace: argo-system
  name: argo-workflows-server
spec:
  provider:
    aws:
      service: ParameterStore
      region: us-west-2
      auth:
        jwt:
          serviceAccountRef:
            name: argo-workflows-server
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  namespace: argo-system
  name: argo-workflows-server-secret
spec:
  refreshInterval: "24h"
  secretStoreRef:
    kind: SecretStore
    name: argo-workflows-server
  refreshPolicy: OnChange
  target:
    creationPolicy: Owner
    deletionPolicy: Delete
  dataFrom:
    - extract:
        key: /kubernetes/argo-system/argo-workflows-server
