---
# yaml-language-server: $schema=https://raw.githubusercontent.com/datreeio/CRDs-catalog/refs/heads/main/postgresql.cnpg.io/cluster_v1.json
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  namespace: miniflux
  name: miniflux-postgres
spec:
  imageName: ghcr.io/cloudnative-pg/postgresql:15.6
  instances: 1
  storage:
    pvcTemplate:
      storageClassName: rbd-fast
      resources:
        requests:
          storage: 10Gi
      accessModes: ["ReadWriteOnce"]
  bootstrap:
    initdb:
      database: miniflux
      owner: miniflux
      secret:
        name: miniflux-postgres-secret
  backup:
    retentionPolicy: "2w"
    barmanObjectStore:
      endpointURL: https://s3.us-east-005.backblazeb2.com
      destinationPath: s3://timtor-homelab-miniflux/
      s3Credentials:
        accessKeyId:
          name: miniflux-postgres-secret
          key: POSTGRES_B2_ACCESS_KEY_ID
        secretAccessKey:
          name: miniflux-postgres-secret
          key: POSTGRES_B2_ACCESS_SECRET_KEY
      wal:
        compression: gzip
        maxParallel: 8
