
resources:
- apiVersion: v1
  kind: Secret
  metadata:
    name: minio-secret
    namespace: longhorn-system
  type: Opaque
  data:
    AWS_ACCESS_KEY_ID: {{ .Values.MINIO_ACCESS_KEY | b64enc}}
    AWS_SECRET_ACCESS_KEY: {{ .Values.MINIO_SECRET_KEY | b64enc }}
    AWS_ENDPOINTS: {{ print "http://" .Values.minio.endpoint | b64enc }}
