image: 
  repository: bitwardenrs/server
  tag: raspberry
env:
  SIGNUPS_ALLOWED: false
  INVITATIONS_ALLOWED: false
  ADMIN_TOKEN: {{ .Values.BITWARDEN_ADMIN_TOKEN }}
  DOMAIN: https://bitwarden.{{ .Values.hostname }}
persistence:
  enabled: true
  storageClass: {{ .Values.nfsclient.storageClassName }}
  size: {{ .Values.bitwarden.storage }}
ingress:
  annotations:
    kubernetes.io/ingress.class: nginx
  hosts:
  - "bitwarden.{{ .Values.hostname }}"

