---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: flux-local

on:
  pull_request:

jobs:
  lint:
    name: Flux local
    runs-on: ubuntu-latest
    strategy:
      matrix:
        resource: ["helmrelease", "kustomization"]
    steps:
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@v2.6.4
      - uses: allenporter/flux-local/action/diff@8.1.0
        id: diff
        with:
          path: kubernetes/flux-system
          sources: homelab
          resource: ${{ matrix.resource }}
      - name: PR Comments
        uses: mshick/add-pr-comment@v2
        if: ${{ steps.diff.outputs.diff != '' }}
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          message-id: "${{ github.event.pull_request.number }}/${{ matrix.resource }}"
          message-failure: flux-local diff is not successful
          message: |
            `````diff
            ${{ steps.diff.outputs.diff }}
            `````
