---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: flux-local

on:
  pull_request:

jobs:
  lint:
    name: Flux local
    runs-on: ubuntu-latest
    strategy:
      matrix:
        resource: ["helmrelease", "kustomization"]
    steps:
      - name: Setup Flux CLI
        uses: fluxcd/flux2/action@8454b02a32e48d775b9f563cb51fdcb1787b5b93 # v2
      - uses: allenporter/flux-local/action/diff@d4ebcae7ae08c8c8b8b7c1f515cf86759f9ca950 # v8
        id: diff
        with:
          path: kubernetes/flux-system
          sources: homelab
          resource: ${{ matrix.resource }}
      - name: PR Comments
        uses: mshick/add-pr-comment@b8f338c590a895d50bcbfa6c5859251edc8952fc # v2
        if: ${{ steps.diff.outputs.diff != '' }}
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          message-id: "${{ github.event.pull_request.number }}/${{ matrix.resource }}"
          message-failure: flux-local diff is not successful
          message: |
            `````diff
            ${{ steps.diff.outputs.diff }}
            `````
