---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: format-check

on:
  pull_request:

jobs:
  lint:
    name: Format check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: dprint/check@9cb3a2b17a8e606d37aae341e49df3654933fc23 # v2
