---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: renovate
"on":
  workflow_dispatch:
  push:
    branches:
      - "main"
    paths:
      - "renovate.json5"
      - ".renovate/**"
  schedule:
    - cron: "0 0 * * *" # every 08:00 UTC+8
jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Renovate
        uses: renovatebot/github-action@v44.2.6
        env:
          LOG_LEVEL: debug
          RENOVATE_REPOSITORIES: ${{ github.repository }}
          RENOVATE_PLATFORM: github
          RENOVATE_USERNAME: timtor-bot
          RENOVATE_GIT_AUTHOR: Timtor-bot <bot@timtor.dev>
          RENOVATE_TOKEN: ${{ secrets.BOT_USER_TOKEN }}
          RENOVATE_GIT_PRIVATE_KEY: ${{ secrets.BOT_USER_GPG_KEY }}
