---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: yaml-schema-check

on:
  pull_request:

jobs:
  check:
    name: Yaml schema check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - run: npx --yes yaml-ls-check@1.4 ./
